<link rel='stylesheet' href='/stylesheets/style.css' />
<div id="container">
    <ul class="nav">
        <li class="link"><a href='/catalog'>Home</a></li>
        <li class="link"><a href='/catalog/families'>All Families</a></li>
        <li class="link"><a href='/catalog/instruments'>All Instruments</a></li>
        <li class="link"><a href='/catalog/instances'>All Instrument Instances</a></li>
        <li class="link"><a href='/catalog/makers'>All Makers</a></li>
    </ul>
    <hr>
    <ul class="nav">
        <li class="link"><a href='/catalog/family/create'>Create New Family</a></li>
        <li class="link"><a href='/catalog/instrument/create'>Create New Instrument</a></li>
        <li class="link"><a href='/catalog/instance/create'>Create New Instrument Instance</a></li>
        <li class="link"><a href='/catalog/maker/create'>Create New Maker</a></li>
    </ul>
</div>